<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/YourPage" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/YourProfile" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/YourProfile" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/YourProfile" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="f-info-brand" >&copy;StayEase  PrivateLimited</div>
        <div class="f-info-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
            <a href="/terms">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>